<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <link href='{{ ASSET_PATH }}/assets/themes/the-program/css/style.css' rel="stylesheet" media="all">
  <link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
</head>

<div id="wrapper">
  <a href="http://www.heatsynclabs.org"><h1 id="top"><span>HeatSync Labs</span></h1></a>
  <div class="button"><a href="/archive.html">Archive</a></div>
  <div class="button"><a href="/get-involved.html">Get Involved</a></div>

  <div id="content">
    {{ content }}
  </div>
</div>
</body>
</html>
